.navbar {
	background-color: rgb(89, 255, 0);
}
h3 {
	background-color: aqua;
	text-align: center;
	margin-top: 10px;
}
.err_hd {
	background-color: aqua;
	text-align: center;
}
h2 {
	background-color: aqua;
	text-align: center;
}
.login_inputArea {
	margin-top: 35%;
}
.signup_inputare {
	margin-top: 30%;
}
.signup_login_link {
	margin-left: 5%;
}
.about_col1 {
	margin-left: 15%;
	padding-top: 2%;
	width: 20%;
}
.about_col3 {
	margin-left: 5%;
	padding-top: 2%;
	width: 20%;
}
.about_col2 {
	margin-left: 5%;
	padding-top: 2%;
	width: 60%;
}
a {
	text-decoration: none;
}
.about_label {
	margin-left: 20px;
}
.about_tab {
	color: blue;
	border-radius: 20px;
	padding-left: 10px;
}
.about_form {
	background-color: bisque;
}
.about_tabs {
	background-color: bisque;
}
.tab_para {
	background-color: bisque;
	color: blue;
	font-size:large;
	width: 350px;
	height: 100px;
	text-align: left;
}