.heading1 {
	color: blue;
	text-align: center;
}

.body {
	background-color: wheat;
}
.inputArea {
	text-align: center;
}
.listArea {
	text-align: center;
}
.container {
	text-align: center;
}
li {
	margin: 5px;
}
