.body {
	background-color: wheat;
}
.fruit_link {
	text-decoration: none;
	color: black;
	padding-left: 5%;
}

.inputArea {
	text-align: center;
}
.input_box {
	margin-left: 10px;
	margin-top: 10px;
}
.input_btn {
	margin-left: 10px;
	margin-right: 10px;
}
.fruit_heading {
	width: 60%;
	background-color: aqua;
	color: blue;
	text-indent: 30%;
}
.fruit_row_heading {
	margin-left: 12%;
}
Col {
text-indent: 10%;
}
